<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello hacker!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@0.18.2/dist/web3.min.js"></script>
  </head>
  <body>

    <script src="{{ url_for('static', filename='scripts/index.js') }}" type="text/babel"></script>

  </body>
</html>